*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
    color: #64F222;
    text-shadow: 4px 4px rgba(4, 157, 191, 0.31);
    --cor1: #049dbf;
    --cor2: #1d2366;
    --cor3: #22f233;
    --cor4: #ff6700;
    --cor5: #ffb300;
    --cor6: #7955e6;
    --cor7: #00d4bb;
    --cor8: #f2e822;
    --cor9: #f2226c;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

main{
    padding: 12px;
}

header{
    background-color: var(--cor2);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    width: 100%;
}

canvas{
    border: 3px solid var(--cor1);
    width: 400px;
    height: 400px;
    background-color: #ffffff;
}

button{
    border: none;
    border-radius: 24px;
    padding: 1em;
    background-color: var(--cor2);
    color: white;
    cursor: pointer;
}

h1{
    text-align: center;
}

h2{
    padding: 0.5em 0;
}