*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kodchasan", sans-serif;
    color: #64F222;
    text-shadow: 4px 4px rgba(4, 157, 191, 0.31);
    --cor1: #049dbf;
    --cor2: #1d2366;
    --cor3: #22f233;
    --cor4: #ff6700;
    --cor5: #ffb300;
    --cor6: #7955e6;
    --cor7: #00d4bb;
    --cor8: #f2e822;
    --cor9: #f2226c;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}

main{
    padding: 12px;
}

header{
    background-color: var(--cor2);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    width: 100%;
}

canvas{
    border: 3px solid var(--cor1);
    width: 400px;
    height: 400px;
    background-color: #ffffff;
}
.container-pontos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3em;
    margin-top: 2em;
    width: 100%;
}
button{
    border: none;
    border-radius: 24px;
    padding: 1em;
    background-color: white;
    color: var(--cor6);
    font-weight: 600;
    border: 2px solid;
    cursor: pointer;
}

h1{
    text-align: center;
}

h2{
    padding: 0.5em 0;
}

.container1{
    background-color: var(--cor6);
    padding: 0.5em;
    border-radius: 12px;
    width: 50%;
}

.container2{
    background-color: var(--cor6);
    padding: 0.5em;
    border-radius: 12px;
    width: 50%;
}

.pontos{
    background-color: #6e4bd5;
    color: #fff;
    width: 100%;
    border-radius: 12px;
    text-align: start;
    margin-bottom: 0.5em;
    padding: 0.2em;
}

.dificuldade{
    background-color: #6e4bd5;
    color: #fff;
    width: 100%;
    border-radius: 12px;
    text-align: start;
    margin-bottom: 0.5em;
    padding: 0.2em;
}

button:hover{
    transition: 1s;
    transform: translateY(-2px);
    background-color: #dcdcdc;
    color: white;
}

@media (max-width: 640px) {
    .container-pontos{
        margin-top: 2em;
    }

    .pontos{
        width: 100%;
        font-size: 1.3em;
    }
    
    .dificuldade{
        width: 100%;
        font-size: 1.3em;
    }
    
    canvas{
        width: 350px;
        height: 300px;
    }

    .container1, .container2{
        width: 100%;
    }
}

@media (max-width: 380px) {
    canvas{
        width: 280px;
        height: 250px;
    }
}